.Home {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.hero {
	display: flex;
	position: relative;
	& > :nth-child(1) + :nth-child(2) {
		position: absolute;
	}
}

.hero-text {
	width: min(40ch, 100%);
	& > h1 {
        margin: 1rem 0;
        & > span {
            color: var(--accent-1);
            background: linear-gradient(69deg, var(--accent-1), color-mix(in srgb, currentColor 50%, white));
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
        }
	}
}
.hero-image {
	width: 16rem;
}
.cta-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}