.Projects {
	margin-top: 2rem;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	& * {
		border-radius: .33rem;
	}
}

.project {
	display: flex;
	position: relative;
	background: color-mix(in srgb, var(--background) 5%, transparent);
	width: 18rem;
	height: 24rem;
	box-shadow: .1rem .1rem .5rem .05rem hsla(0,0%,0%,.25);
	& > * + * {
		position: absolute;		
	}

	& > div:first-of-type {
		padding: 3rem 3rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		place-items: center;
		width: 100%;
		& > div {
			display: flex;
			gap: 1rem;
		}
		& p {
			font-size: 1.33rem;
			font-weight: 300;
			text-align: center;

		}
	}

	& > div:last-of-type {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		opacity: .1;
	}
	&:hover {
		filter: drop-shadow();
		& > div:last-of-type {
			opacity: .33;
			filter: none;
			&#a0 {
				opacity: .5;
				filter: brightness(2)
			}
		}
	}
}