.Projects {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	& * {
		border-radius: .33rem;
	}
}

.project {
	display: flex;
	position: relative;
	background: color-mix(in srgb, var(--background) 5%, transparent);
	width: 18rem;
	height: 24rem;
	box-shadow: .1rem .1rem .5rem .05rem hsla(0,0%,0%,.25);
	& > * + * {
		position: absolute;		
	}

	& > div:first-of-type {
		padding: 3rem 3rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		place-items: center;
		width: 100%;
		& > div {
			flex-grow: 1;
			display: flex;
			align-items: flex-end;
			gap: 1rem;
		}
		& h3 {
			margin: 0;
			font-size: 1.5rem;
			font-weight: 800;
		}
		& p {
			margin-top: 4rem;
			font-size: 1.25rem;
			font-weight: 300;
			text-align: center;

		}
	}

	& > div:last-of-type {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		/* filter: grayscale(); */
		opacity: .1;
	}
	&:hover {
		& > div:first-of-type {
			/* background: radial-gradient(128rem circle at 4rem 4rem, hsla(210,50%,75%,0.1), transparent 20%); */
		}
		& > div:last-of-type {
			opacity: .5;
			filter: none;
		}
	}
}