.Header > nav {
	display: flex;
	gap: 1.5rem;
	padding-block: 1rem;
    justify-content: space-between;
    align-items: stretch;

	& a {
		text-decoration: none;
		color: var(--text);
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}
    
	& > :first-child {
        opacity: 1;
		font-weight: 800;
	}
	& > :last-child {
        display: flex;
        align-items: stretch;
        gap: 1.5rem;

	}
}
