.App {
	margin: auto;
	width: min(90vw, 75ch);

	display: flex;
	flex-direction: column;

	& > :is(header, main, footer) {
		padding: 1rem;
	}
	& header {
		padding-bottom: 0;
	}
	& main {
		flex-grow: 1;
	}
	& footer {
		padding-top: 0;
	}
}
