.App {
	margin: auto;
	width: min(90vw, 75ch);
	height: 100svh;

	display: flex;
	flex-direction: column;

	& main {
		flex-grow: 1;
	}
}

.Home,
.Projects {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
