

:root {
	--dark: hsl(0, 0%, 12%);
	--light: hsl(0, 0%, 97%);
	--accent-1: hsl(203, 33%, 50%);

	--text: var(--dark);
	--background: var(--light);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: var(--light);
		--background: var(--dark);
	}
}

* {
	box-sizing: border-box;
}

html {
	color: var(--text);
	background: var(--background);
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-weight: 600;
	margin: 0;
	text-align: center;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

button {
	--btn-color: var(--text); 
	display: flex;
	place-items: center;
	gap: .5rem;
	font-size: .8rem;
	font-weight: 600;
	color: var(--btn-color);
	background-color: color-mix(in srgb, currentColor 5%, transparent);
	border: 1px solid currentColor;
	border-radius: 0.25rem;
	box-shadow: 0 0 0.1rem 0.1rem color-mix(in srgb, black 10%, transparent);
	opacity: 1;
	padding: 0.5rem;
	&.primary {
		background-color: var(--btn-color);
		color: var(--background);
		border-color: var(--btn-color);
	}
	&:hover {
		box-shadow: 0 0 1px 2px color-mix(in srgb, var(--text) 33%, transparent);
	}
}

a {
	text-decoration: none;
}
