:root {
	--dark: hsl(0, 0%, 10%);
	--light: hsl(0, 0%, 95%);
	--accent-1: hsl(240, 100%, 50%);
	--accent-2: hsl(0, 75%, 50%);

	--text: var(--dark);
	--background: var(--light);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: var(--light);
		--background: var(--dark);
	}
}

* {
	box-sizing: border-box;
}
html {
	color: var(--text);
	background: var(--background);
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

a {
	color: color-mix(in lch, var(--text) 50%, var(--accent-1) 50%);
	&:visited {
		color: color-mix(in lch, var(--text) 75%, var(--accent-1) 25%);
	}
	&:hover {
		color: color-mix(in lch, var(--text) 75%, var(--accent-1) 25%);
	}
}
h1,
h2,
h3 {
	margin: 0;
	margin-bottom: 1rem;
	font-weight: 800;
}
section {
	margin-bottom: 1rem;
}
