:root {
	--dark: hsl(0, 0%, 12%);
	--light: hsl(0, 0%, 97%);
	/* --accent-1: hsl(240, 100%, 82%); */
	--accent-1: hsl(203, 33%, 50%);

	--text: var(--dark);
	--background: var(--light);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: var(--light);
		--background: var(--dark);
	}
}

* {
	box-sizing: border-box;
}
html {
	color: var(--text);
	background: var(--background);
	font-family: system-ui, sans-serif;
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
	text-align: center;
}

button {
	display: flex;
	place-items: center;
	gap: 1rem;
	font-size: 0.825rem;
	font-weight: 600;
	background-color: color-mix(in srgb, currentColor 10%, transparent);
	color: var(--accent-1);
	border: 1px solid currentColor;
	border-radius: 0.25rem;
	box-shadow: 0 0 0.1rem 0.1rem color-mix(in srgb, black 10%, transparent);
	opacity: 1;
	padding: 0.5rem 1rem;
	&.primary {
		background-color: var(--accent-1);
		color: var(--background);
		border-color: var(--accent-1);
	}
	&:hover {
		box-shadow: 0 0 0 0.1rem color-mix(in srgb, var(--text) 90%, transparent);
	}
}

a {
	text-decoration: none;
}
